*, ::before, ::after {
  --tw-border-spacing-x:0;
  --tw-border-spacing-y:0;
  --tw-translate-x:0;
  --tw-translate-y:0;
  --tw-rotate:0;
  --tw-skew-x:0;
  --tw-skew-y:0;
  --tw-scale-x:1;
  --tw-scale-y:1;
  --tw-pan-x: ;
  --tw-pan-y: ;
  --tw-pinch-zoom: ;
  --tw-scroll-snap-strictness:proximity;
  --tw-gradient-from-position: ;
  --tw-gradient-via-position: ;
  --tw-gradient-to-position: ;
  --tw-ordinal: ;
  --tw-slashed-zero: ;
  --tw-numeric-figure: ;
  --tw-numeric-spacing: ;
  --tw-numeric-fraction: ;
  --tw-ring-inset: ;
  --tw-ring-offset-width:0px;
  --tw-ring-offset-color:#fff;
  --tw-ring-color:rgb(59 130 246 / 0.5);
  --tw-ring-offset-shadow:0 0 #0000;
  --tw-ring-shadow:0 0 #0000;
  --tw-shadow:0 0 #0000;
  --tw-shadow-colored:0 0 #0000;
  --tw-blur: ;
  --tw-brightness: ;
  --tw-contrast: ;
  --tw-grayscale: ;
  --tw-hue-rotate: ;
  --tw-invert: ;
  --tw-saturate: ;
  --tw-sepia: ;
  --tw-drop-shadow: ;
  --tw-backdrop-blur: ;
  --tw-backdrop-brightness: ;
  --tw-backdrop-contrast: ;
  --tw-backdrop-grayscale: ;
  --tw-backdrop-hue-rotate: ;
  --tw-backdrop-invert: ;
  --tw-backdrop-opacity: ;
  --tw-backdrop-saturate: ;
  --tw-backdrop-sepia: ;
  --tw-contain-size: ;
  --tw-contain-layout: ;
  --tw-contain-paint: ;
  --tw-contain-style: ;
}

::backdrop {
  --tw-border-spacing-x:0;
  --tw-border-spacing-y:0;
  --tw-translate-x:0;
  --tw-translate-y:0;
  --tw-rotate:0;
  --tw-skew-x:0;
  --tw-skew-y:0;
  --tw-scale-x:1;
  --tw-scale-y:1;
  --tw-pan-x: ;
  --tw-pan-y: ;
  --tw-pinch-zoom: ;
  --tw-scroll-snap-strictness:proximity;
  --tw-gradient-from-position: ;
  --tw-gradient-via-position: ;
  --tw-gradient-to-position: ;
  --tw-ordinal: ;
  --tw-slashed-zero: ;
  --tw-numeric-figure: ;
  --tw-numeric-spacing: ;
  --tw-numeric-fraction: ;
  --tw-ring-inset: ;
  --tw-ring-offset-width:0px;
  --tw-ring-offset-color:#fff;
  --tw-ring-color:rgb(59 130 246 / 0.5);
  --tw-ring-offset-shadow:0 0 #0000;
  --tw-ring-shadow:0 0 #0000;
  --tw-shadow:0 0 #0000;
  --tw-shadow-colored:0 0 #0000;
  --tw-blur: ;
  --tw-brightness: ;
  --tw-contrast: ;
  --tw-grayscale: ;
  --tw-hue-rotate: ;
  --tw-invert: ;
  --tw-saturate: ;
  --tw-sepia: ;
  --tw-drop-shadow: ;
  --tw-backdrop-blur: ;
  --tw-backdrop-brightness: ;
  --tw-backdrop-contrast: ;
  --tw-backdrop-grayscale: ;
  --tw-backdrop-hue-rotate: ;
  --tw-backdrop-invert: ;
  --tw-backdrop-opacity: ;
  --tw-backdrop-saturate: ;
  --tw-backdrop-sepia: ;
  --tw-contain-size: ;
  --tw-contain-layout: ;
  --tw-contain-paint: ;
  --tw-contain-style: ;
}

.enc-absolute {
  position:absolute;
}

.enc-relative {
  position:relative;
}

.enc-inset-0 {
  inset:0px;
}

.enc-z-0 {
  z-index:0;
}

.enc-z-30 {
  z-index:30;
}

.enc-m-0 {
  margin:0px;
}

.enc-mx-\[17\.5px\] {
  margin-left:17.5px;
  margin-right:17.5px;
}

.enc-mx-\[33\.5px\] {
  margin-left:33.5px;
  margin-right:33.5px;
}

.enc-mx-\[42px\] {
  margin-left:42px;
  margin-right:42px;
}

.enc-mx-\[73\.5px\] {
  margin-left:73.5px;
  margin-right:73.5px;
}

.enc-mx-auto {
  margin-left:auto;
  margin-right:auto;
}

.enc-my-0 {
  margin-top:0px;
  margin-bottom:0px;
}

.enc-my-4 {
  margin-top:1rem;
  margin-bottom:1rem;
}

.enc-mb-8 {
  margin-bottom:2rem;
}

.enc-ml-3 {
  margin-left:0.75rem;
}

.enc-mt-4 {
  margin-top:1rem;
}

.enc-mt-5 {
  margin-top:1.25rem;
}

.enc-mt-8 {
  margin-top:2rem;
}

.enc-mt-\[-70px\] {
  margin-top:-70px;
}

.enc-mt-\[26px\] {
  margin-top:26px;
}

.enc-mt-\[62px\] {
  margin-top:62px;
}

.enc-block {
  display:block;
}

.enc-inline-block {
  display:inline-block;
}

.enc-flex {
  display:flex;
}

.\!enc-hidden {
  display:none !important;
}

.enc-hidden {
  display:none;
}

.enc-h-10 {
  height:2.5rem;
}

.enc-h-\[100\%\] {
  height:100%;
}

.enc-h-\[140px\] {
  height:140px;
}

.enc-h-\[25px\] {
  height:25px;
}

.enc-h-\[480px\] {
  height:480px;
}

.enc-h-\[60px\] {
  height:60px;
}

.enc-h-auto {
  height:auto;
}

.enc-h-fit {
  height:-moz-fit-content;
  height:fit-content;
}

.enc-h-full {
  height:100%;
}

.enc-max-h-\[544px\] {
  max-height:544px;
}

.enc-w-10 {
  width:2.5rem;
}

.enc-w-\[159px\] {
  width:159px;
}

.enc-w-\[60px\] {
  width:60px;
}

.enc-w-\[85\%\] {
  width:85%;
}

.enc-w-\[98px\] {
  width:98px;
}

.enc-w-full {
  width:100%;
}

.enc-max-w-10 {
  max-width:2.5rem;
}

.enc-max-w-\[1016px\] {
  max-width:1016px;
}

.enc-max-w-\[112px\] {
  max-width:112px;
}

.enc-max-w-\[1240px\] {
  max-width:1240px;
}

.enc-max-w-\[1264px\] {
  max-width:1264px;
}

.enc-max-w-\[1440px\] {
  max-width:1440px;
}

.enc-max-w-\[340px\] {
  max-width:340px;
}

.enc-max-w-\[343px\] {
  max-width:343px;
}

.enc-max-w-\[373px\] {
  max-width:373px;
}

.enc-max-w-\[490px\] {
  max-width:490px;
}

.enc-max-w-\[500px\] {
  max-width:500px;
}

.enc-max-w-\[622px\] {
  max-width:622px;
}

.enc-max-w-\[648px\] {
  max-width:648px;
}

.enc-max-w-\[732px\] {
  max-width:732px;
}

.enc-max-w-\[836px\] {
  max-width:836px;
}

.enc-max-w-\[911px\] {
  max-width:911px;
}

.enc-shrink-0 {
  flex-shrink:0;
}

.enc-rotate-180 {
  --tw-rotate:180deg;
  transform:translate(var(--tw-translate-x), var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
}

.enc-cursor-pointer {
  cursor:pointer;
}

.enc-flex-col {
  flex-direction:column;
}

.enc-items-start {
  align-items:flex-start;
}

.enc-items-center {
  align-items:center;
}

.enc-justify-start {
  justify-content:flex-start;
}

.enc-justify-center {
  justify-content:center;
}

.enc-justify-between {
  justify-content:space-between;
}

.enc-justify-items-center {
  justify-items:center;
}

.enc-gap-1 {
  gap:0.25rem;
}

.enc-gap-2 {
  gap:0.5rem;
}

.enc-gap-3 {
  gap:0.75rem;
}

.enc-gap-4 {
  gap:1rem;
}

.enc-gap-5 {
  gap:1.25rem;
}

.enc-gap-6 {
  gap:1.5rem;
}

.enc-gap-\[10px\] {
  gap:10px;
}

.enc-gap-\[18px\] {
  gap:18px;
}

.enc-gap-\[20px\] {
  gap:20px;
}

.enc-gap-\[2px\] {
  gap:2px;
}

.enc-gap-\[6px\] {
  gap:6px;
}

.enc-gap-x-\[18px\] {
  -moz-column-gap:18px;
       column-gap:18px;
}

.enc-overflow-hidden {
  overflow:hidden;
}

.enc-rounded {
  border-radius:0.25rem;
}

.enc-rounded-bl {
  border-bottom-left-radius:0.25rem;
}

.enc-rounded-br {
  border-bottom-right-radius:0.25rem;
}

.enc-rounded-tl {
  border-top-left-radius:0.25rem;
}

.enc-rounded-tr {
  border-top-right-radius:0.25rem;
}

.enc-border-\[5px\] {
  border-width:5px;
}

.enc-border-solid {
  border-style:solid;
}

.enc-border-black {
  --tw-border-opacity:1;
  border-color:rgb(0 0 0 / var(--tw-border-opacity, 1));
}

.enc-bg-\[\#003F3B\] {
  --tw-bg-opacity:1;
  background-color:rgb(0 63 59 / var(--tw-bg-opacity, 1));
}

.enc-bg-\[\#CC1300\] {
  --tw-bg-opacity:1;
  background-color:rgb(204 19 0 / var(--tw-bg-opacity, 1));
}

.enc-bg-\[\#E6D8F6\] {
  --tw-bg-opacity:1;
  background-color:rgb(230 216 246 / var(--tw-bg-opacity, 1));
}

.enc-bg-\[\#F2F2F2\] {
  --tw-bg-opacity:1;
  background-color:rgb(242 242 242 / var(--tw-bg-opacity, 1));
}

.enc-bg-black {
  --tw-bg-opacity:1;
  background-color:rgb(0 0 0 / var(--tw-bg-opacity, 1));
}

.enc-bg-white {
  --tw-bg-opacity:1;
  background-color:rgb(255 255 255 / var(--tw-bg-opacity, 1));
}

.enc-object-contain {
  -o-object-fit:contain;
     object-fit:contain;
}

.enc-object-cover {
  -o-object-fit:cover;
     object-fit:cover;
}

.enc-p-\[16px\] {
  padding:16px;
}

.enc-p-\[4px_6px\] {
  padding:4px 6px;
}

.enc-px-3 {
  padding-left:0.75rem;
  padding-right:0.75rem;
}

.enc-px-4 {
  padding-left:1rem;
  padding-right:1rem;
}

.enc-py-2 {
  padding-top:0.5rem;
  padding-bottom:0.5rem;
}

.enc-py-4 {
  padding-top:1rem;
  padding-bottom:1rem;
}

.enc-py-6 {
  padding-top:1.5rem;
  padding-bottom:1.5rem;
}

.enc-pb-12 {
  padding-bottom:3rem;
}

.enc-pb-3 {
  padding-bottom:0.75rem;
}

.enc-pb-4 {
  padding-bottom:1rem;
}

.enc-pb-5 {
  padding-bottom:1.25rem;
}

.enc-pb-8 {
  padding-bottom:2rem;
}

.enc-pb-\[26px\] {
  padding-bottom:26px;
}

.enc-pl-4 {
  padding-left:1rem;
}

.enc-pr-\[10px\] {
  padding-right:10px;
}

.enc-pt-10 {
  padding-top:2.5rem;
}

.enc-pt-2 {
  padding-top:0.5rem;
}

.enc-pt-4 {
  padding-top:1rem;
}

.enc-pt-5 {
  padding-top:1.25rem;
}

.enc-pt-6 {
  padding-top:1.5rem;
}

.enc-pt-\[20px\] {
  padding-top:20px;
}

.enc-pt-\[80px\] {
  padding-top:80px;
}

.enc-pt-\[94px\] {
  padding-top:94px;
}

.enc-text-center {
  text-align:center;
}

.enc-font-\[\'Work_Sans\'\] {
  font-family:'Work Sans';
}

.enc-font-\[HelveticaNeue\] {
  font-family:HelveticaNeue;
}

.enc-font-\[Helvetica\] {
  font-family:Helvetica;
}

.enc-font-\[MyriadPro\] {
  font-family:MyriadPro;
}

.enc-font-inter {
  font-family:Inter, sans-serif;
}

.enc-font-myriad_pro {
  font-family:MyriadPro, sans-serif;
}

.enc-text-2xl {
  font-size:1.5rem;
  line-height:2rem;
}

.enc-text-4xl {
  font-size:2.25rem;
  line-height:2.5rem;
}

.enc-text-\[12px\]\/\[130\%\] {
  font-size:12px;
  line-height:130%;
}

.enc-text-\[14px\] {
  font-size:14px;
}

.enc-text-\[18px\] {
  font-size:18px;
}

.enc-text-\[20px\] {
  font-size:20px;
}

.enc-text-\[21px\] {
  font-size:21px;
}

.enc-text-\[24px\] {
  font-size:24px;
}

.enc-text-\[26px\] {
  font-size:26px;
}

.enc-text-\[28px\] {
  font-size:28px;
}

.enc-text-\[32px\] {
  font-size:32px;
}

.enc-text-\[44px\] {
  font-size:44px;
}

.enc-text-\[55px\] {
  font-size:55px;
}

.enc-text-base {
  font-size:1rem;
  line-height:1.5rem;
}

.enc-text-base\/\[140\%\] {
  font-size:1rem;
  line-height:140%;
}

.enc-text-lg {
  font-size:1.125rem;
  line-height:1.75rem;
}

.enc-text-lg\/\[normal\] {
  font-size:1.125rem;
  line-height:normal;
}

.enc-text-sm {
  font-size:0.875rem;
  line-height:1.25rem;
}

.enc-font-black {
  font-weight:900;
}

.enc-font-bold {
  font-weight:700;
}

.enc-font-extrabold {
  font-weight:800;
}

.enc-font-medium {
  font-weight:500;
}

.enc-font-semibold {
  font-weight:600;
}

.enc-uppercase {
  text-transform:uppercase;
}

.enc-capitalize {
  text-transform:capitalize;
}

.enc-italic {
  font-style:italic;
}

.\!enc-leading-\[24px\] {
  line-height:24px !important;
}

.enc-leading-\[100\%\] {
  line-height:100%;
}

.enc-leading-\[120\%\] {
  line-height:120%;
}

.enc-leading-\[150\%\] {
  line-height:150%;
}

.enc-leading-\[16\.8px\] {
  line-height:16.8px;
}

.enc-leading-\[16px\] {
  line-height:16px;
}

.enc-leading-\[18px\] {
  line-height:18px;
}

.enc-leading-\[22px\] {
  line-height:22px;
}

.enc-leading-\[23\.4px\] {
  line-height:23.4px;
}

.enc-leading-\[24px\] {
  line-height:24px;
}

.enc-leading-\[32px\] {
  line-height:32px;
}

.enc-leading-\[33\.6px\] {
  line-height:33.6px;
}

.enc-leading-\[44px\] {
  line-height:44px;
}

.enc-leading-\[52\.8px\] {
  line-height:52.8px;
}

.enc-leading-\[80\%\] {
  line-height:80%;
}

.enc-leading-\[normal\] {
  line-height:normal;
}

.enc-leading-normal {
  line-height:1.5;
}

.enc-tracking-\[-0\.09px\] {
  letter-spacing:-0.09px;
}

.enc-tracking-\[-0\.21px\] {
  letter-spacing:-0.21px;
}

.enc-tracking-\[-0\.32px\] {
  letter-spacing:-0.32px;
}

.enc-tracking-\[-3\.3px\] {
  letter-spacing:-3.3px;
}

.enc-tracking-\[0\.28px\] {
  letter-spacing:0.28px;
}

.enc-tracking-normal {
  letter-spacing:0em;
}

.enc-text-\[\#002C1E\] {
  --tw-text-opacity:1;
  color:rgb(0 44 30 / var(--tw-text-opacity, 1));
}

.enc-text-\[\#003F3B\] {
  --tw-text-opacity:1;
  color:rgb(0 63 59 / var(--tw-text-opacity, 1));
}

.enc-text-\[\#071A2B\] {
  --tw-text-opacity:1;
  color:rgb(7 26 43 / var(--tw-text-opacity, 1));
}

.enc-text-\[\#0A6050\] {
  --tw-text-opacity:1;
  color:rgb(10 96 80 / var(--tw-text-opacity, 1));
}

.enc-text-\[\#0B6050\] {
  --tw-text-opacity:1;
  color:rgb(11 96 80 / var(--tw-text-opacity, 1));
}

.enc-text-\[\#1D7DE3\] {
  --tw-text-opacity:1;
  color:rgb(29 125 227 / var(--tw-text-opacity, 1));
}

.enc-text-\[\#2C4071\] {
  --tw-text-opacity:1;
  color:rgb(44 64 113 / var(--tw-text-opacity, 1));
}

.enc-text-\[\#CC1300\] {
  --tw-text-opacity:1;
  color:rgb(204 19 0 / var(--tw-text-opacity, 1));
}

.enc-text-\[\#DDF570\] {
  --tw-text-opacity:1;
  color:rgb(221 245 112 / var(--tw-text-opacity, 1));
}

.enc-text-\[\#E34134\] {
  --tw-text-opacity:1;
  color:rgb(227 65 52 / var(--tw-text-opacity, 1));
}

.enc-text-\[\#F6FF80\] {
  --tw-text-opacity:1;
  color:rgb(246 255 128 / var(--tw-text-opacity, 1));
}

.enc-text-\[\#FCFDFD\] {
  --tw-text-opacity:1;
  color:rgb(252 253 253 / var(--tw-text-opacity, 1));
}

.enc-text-\[rgba\(255\,255\,255\,0\.50\)\] {
  color:rgba(255,255,255,0.50);
}

.enc-text-black {
  --tw-text-opacity:1;
  color:rgb(0 0 0 / var(--tw-text-opacity, 1));
}

.enc-text-white {
  --tw-text-opacity:1;
  color:rgb(255 255 255 / var(--tw-text-opacity, 1));
}

.enc-underline {
  text-decoration-line:underline;
}

.enc-line-through {
  text-decoration-line:line-through;
}

.enc-no-underline {
  text-decoration-line:none;
}

.enc-decoration-\[\#CF2049\] {
  text-decoration-color:#CF2049;
}

.enc-decoration-\[2px\] {
  text-decoration-thickness:2px;
}

.enc-shadow-\[0_4px_4px_0_rgba\(0\,0\,0\,0\.5\)\] {
  --tw-shadow:0 4px 4px 0 rgba(0,0,0,0.5);
  --tw-shadow-colored:0 4px 4px 0 var(--tw-shadow-color);
  box-shadow:var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
}

.enc-transition-all {
  transition-property:all;
  transition-timing-function:cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration:150ms;
}

body, html {
  padding:0;
  margin:0;
}

@font-face {
  font-family: 'MyriadPro';

  src: url('https://s3.us-east-1.amazonaws.com/konsciousketo.com/fonts/fonnts.com-MyriadPro-Bold_italic.ttf') format('truetype');

  font-weight: 700;

  font-style: italic;

  font-display: swap;
}

@font-face {
  font-family: 'MyriadPro';

  src: url('https://s3.us-east-1.amazonaws.com/konsciousketo.com/fonts/Myriad_Pro_Semibold_Italic.otf') format('opentype');

  font-weight: 600;

  font-style: italic;

  font-display: swap;
}

@font-face {
  font-family: 'MyriadPro';

  src: url('https://s3.us-east-1.amazonaws.com/konsciousketo.com/fonts/Myriad+Pro+Black.otf') format('opentype');

  font-weight: 900;

  font-style: normal;

  font-display: swap;
}

@font-face {
  font-family: 'MyriadPro';

  src: url('https://s3.us-east-1.amazonaws.com/konsciousketo.com/fonts/Myriad+Pro+Bold.ttf') format('truetype');

  font-weight: 700;

  font-style: normal;

  font-display: swap;
}

@font-face {
  font-family: 'MyriadPro';

  src: url('https://s3.us-east-1.amazonaws.com/konsciousketo.com/fonts/Myriad+Pro+Semibold.ttf') format('truetype');

  font-weight: 600;

  font-style: normal;

  font-display: swap;
}

@font-face {
  font-family: 'MyriadPro';

  src: url('https://s3.us-east-1.amazonaws.com/konsciousketo.com/fonts/Myriad+Pro+Regular.ttf') format('truetype');

  font-weight: 400;

  font-style: normal;

  font-display: swap;
}

@font-face {
  font-family: 'MyriadPro';

  src: url('https://s3.us-east-1.amazonaws.com/konsciousketo.com/fonts/MyriadPro-It.otf') format('opentype');

  font-weight: 400;

  font-style: italic;

  font-display: swap;
}

@font-face {
  font-family: 'HelveticaNeue';

  src: url('https://s3.us-east-1.amazonaws.com/konsciousketo.com/fonts/HelveticaNeueBold.ttf') format('truetype');

  font-weight: 700;

  font-style: normal;

  font-display: swap;
}

@font-face {
  font-family: 'HelveticaNeue';

  src: url('https://s3.us-east-1.amazonaws.com/konsciousketo.com/fonts/HelveticaNeueMedium.ttf') format('truetype');

  font-weight: 600;

  font-style: normal;

  font-display: swap;
}

@font-face {
  font-family: 'HelveticaNeue';

  src: url('https://s3.us-east-1.amazonaws.com/konsciousketo.com/fonts/HelveticaNeueMedium.ttf') format('truetype');

  font-weight: 600;

  font-style: normal;

  font-display: swap;
}

@font-face {
  font-family: 'Helvetica';

  src: url('https://s3.us-east-1.amazonaws.com/konsciousketo.com/fonts/Helvetica-Bold.ttf') format('truetype');

  font-weight: 700;

  font-style: normal;

  font-display: swap;
}

.hero-section {
  background: linear-gradient(203deg, rgba(0, 98, 93, 0.00) -48.39%, #00C8BE 155.22%), #003F3B;
}

.footer-links a {
  position: relative;
  margin-right: 18px;
}

.footer-links a:before {
  content: '|';
  position: absolute;
  left: -10px;
  color: rgba(255, 255, 255, 0.50);
  top: 0;
}

body.playing .enc-wistia-container {
  background-color: black;
}

@media (min-width: 1024px) {
  body.playing .hero-section {
    padding-bottom: 0px !important;
    background: none;
  }
}

body.playing.dropped .hero-section {
  background: linear-gradient(203deg, rgba(0, 98, 93, 0.00) -48.39%, #00C8BE 155.22%), #003F3B !important;
  padding-bottom: 2rem !important;
}

@media (min-width: 1023px) {
  body.dropped #vidcont {
    max-width: 800px;
    margin: 0 auto;
  }
}

@media (max-width: 1023px) {
  .playing #vidcont {
    margin-top: 71px !important;
  }
}

.footer-links a:first-child:before {
  content: '';
}

.no-max-width {
  max-width: none !important;
  padding: 0 !important;
  margin: 0 !important;
}

.playing #vidcont {
  max-width: none !important;
  padding: 0 !important;
}

.playing #heading {
  display: none !important;
}

.playing .important-text p {
  padding-bottom: 8px;
}

@media screen and (min-width: 768px) {
  .playing .hideonplay {
    display: none !important;
  }
}

.dropped .beforedrop {
  display: none !important;
}

@keyframes floatY {
  0% {
    transform: translateY(0);
  }

  50% {
    transform: translateY(-20px);
    /* move up */
  }

  100% {
    transform: translateY(0);
  }
}

.floating {
  animation: floatY 2s cubic-bezier(0.4, 0, 0.2, 1) infinite;
}

.fadeOut {
  transform: translateY(10px);
  opacity: 0;
}

.highlight-span {
  position: relative;
  /* Container for the highlight */
  display: inline-block;
  z-index: 1;
}

.highlight-span::before {
  content: "";
  position: absolute;
  bottom: -4px;
  left: 0;
  width: 100%;
  height: 35px;
  background-color: #48948a;
  z-index: -1;
}

@media (max-width: 1023px) {
  .highlight-span::before {
    bottom: -1px;
    height: 21px;
  }
}

@media not all and (min-width: 1024px) {
  .max-lg\:enc-mx-\[12\.5px\] {
    margin-left:12.5px;
    margin-right:12.5px;
  }

  .max-lg\:enc-mx-\[28\.5px\] {
    margin-left:28.5px;
    margin-right:28.5px;
  }

  .max-lg\:enc-mx-auto {
    margin-left:auto;
    margin-right:auto;
  }

  .max-lg\:enc-mt-\[10px\] {
    margin-top:10px;
  }

  .max-lg\:enc-h-\[23px\] {
    height:23px;
  }

  .max-lg\:enc-w-\[111px\] {
    width:111px;
  }

  .max-lg\:enc-max-w-\[343px\] {
    max-width:343px;
  }

  .max-lg\:enc-max-w-\[420px\] {
    max-width:420px;
  }

  .max-lg\:enc-flex-\[0_0_100\%\] {
    flex:0 0 100%;
  }

  .max-lg\:enc-flex-wrap {
    flex-wrap:wrap;
  }

  .max-lg\:enc-justify-center {
    justify-content:center;
  }

  .max-lg\:enc-gap-y-2 {
    row-gap:0.5rem;
  }

  .max-lg\:enc-bg-\[\#F7F6F4\] {
    --tw-bg-opacity:1;
    background-color:rgb(247 246 244 / var(--tw-bg-opacity, 1));
  }

  .max-lg\:enc-p-4 {
    padding:1rem;
  }

  .max-lg\:enc-px-3 {
    padding-left:0.75rem;
    padding-right:0.75rem;
  }

  .max-lg\:enc-px-4 {
    padding-left:1rem;
    padding-right:1rem;
  }

  .max-lg\:enc-px-8 {
    padding-left:2rem;
    padding-right:2rem;
  }

  .max-lg\:enc-px-\[10px\] {
    padding-left:10px;
    padding-right:10px;
  }

  .max-lg\:enc-pb-4 {
    padding-bottom:1rem;
  }

  .max-lg\:enc-pt-\[10px\] {
    padding-top:10px;
  }

  .max-lg\:enc-tracking-\[-0\.18px\] {
    letter-spacing:-0.18px;
  }
}

@media not all and (min-width: 768px) {
  .max-md\:enc-flex-wrap {
    flex-wrap:wrap;
  }

  .max-md\:enc-gap-y-\[5px\] {
    row-gap:5px;
  }
}

@media (max-width: 402px) {
  .max-\[402px\]\:enc-block {
    display:block;
  }
}

@media (min-width: 768px) {
  .md\:enc-block {
    display:block;
  }

  .md\:enc-hidden {
    display:none;
  }

  .md\:enc-max-w-\[710px\] {
    max-width:710px;
  }
}

@media (min-width: 1024px) {
  .lg\:enc-order-1 {
    order:1;
  }

  .lg\:enc-order-2 {
    order:2;
  }

  .lg\:enc-order-3 {
    order:3;
  }

  .lg\:enc-mx-auto {
    margin-left:auto;
    margin-right:auto;
  }

  .lg\:enc-mb-14 {
    margin-bottom:3.5rem;
  }

  .lg\:enc-ml-8 {
    margin-left:2rem;
  }

  .lg\:enc-ml-\[10px\] {
    margin-left:10px;
  }

  .lg\:enc-mt-0 {
    margin-top:0px;
  }

  .lg\:enc-mt-14 {
    margin-top:3.5rem;
  }

  .lg\:enc-mt-\[42px\] {
    margin-top:42px;
  }

  .lg\:enc-block {
    display:block;
  }

  .lg\:enc-flex {
    display:flex;
  }

  .lg\:enc-hidden {
    display:none;
  }

  .lg\:enc-h-\[50px\] {
    height:50px;
  }

  .lg\:enc-h-\[85px\] {
    height:85px;
  }

  .lg\:enc-max-h-\[678px\] {
    max-height:678px;
  }

  .lg\:enc-w-\[85px\] {
    width:85px;
  }

  .lg\:enc-max-w-\[318px\] {
    max-width:318px;
  }

  .lg\:enc-max-w-\[350px\] {
    max-width:350px;
  }

  .lg\:enc-max-w-\[369px\] {
    max-width:369px;
  }

  .lg\:enc-max-w-\[378px\] {
    max-width:378px;
  }

  .lg\:enc-max-w-\[421px\] {
    max-width:421px;
  }

  .lg\:enc-max-w-\[627px\] {
    max-width:627px;
  }

  .lg\:enc-max-w-\[641px\] {
    max-width:641px;
  }

  .lg\:enc-max-w-\[788px\] {
    max-width:788px;
  }

  .lg\:enc-max-w-\[870px\] {
    max-width:870px;
  }

  .lg\:enc-max-w-\[87dvw\] {
    max-width:87dvw;
  }

  .lg\:enc-max-w-full {
    max-width:100%;
  }

  .lg\:enc-flex-row {
    flex-direction:row;
  }

  .lg\:enc-items-end {
    align-items:flex-end;
  }

  .lg\:enc-justify-end {
    justify-content:flex-end;
  }

  .lg\:enc-justify-center {
    justify-content:center;
  }

  .lg\:enc-gap-4 {
    gap:1rem;
  }

  .lg\:enc-gap-8 {
    gap:2rem;
  }

  .lg\:enc-rounded-\[6px\] {
    border-radius:6px;
  }

  .lg\:enc-rounded-lg {
    border-radius:0.5rem;
  }

  .lg\:enc-border-\[10px\] {
    border-width:10px;
  }

  .lg\:enc-bg-\[\#FFFFDC80\] {
    background-color:#FFFFDC80;
  }

  .lg\:\!enc-p-6 {
    padding:1.5rem !important;
  }

  .lg\:enc-p-\[0_0_8px_32px\] {
    padding:0 0 8px 32px;
  }

  .lg\:enc-p-\[32px_16px_0_32px\] {
    padding:32px 16px 0 32px;
  }

  .lg\:enc-p-\[8px_8px_16px\] {
    padding:8px 8px 16px;
  }

  .lg\:enc-px-10 {
    padding-left:2.5rem;
    padding-right:2.5rem;
  }

  .lg\:enc-px-20 {
    padding-left:5rem;
    padding-right:5rem;
  }

  .lg\:enc-px-6 {
    padding-left:1.5rem;
    padding-right:1.5rem;
  }

  .lg\:enc-py-8 {
    padding-top:2rem;
    padding-bottom:2rem;
  }

  .lg\:enc-pb-12 {
    padding-bottom:3rem;
  }

  .lg\:enc-pb-5 {
    padding-bottom:1.25rem;
  }

  .lg\:enc-pb-6 {
    padding-bottom:1.5rem;
  }

  .lg\:enc-pb-8 {
    padding-bottom:2rem;
  }

  .lg\:enc-pb-\[100px\] {
    padding-bottom:100px;
  }

  .lg\:enc-pb-\[3px\] {
    padding-bottom:3px;
  }

  .lg\:enc-pb-\[84px\] {
    padding-bottom:84px;
  }

  .lg\:enc-pt-12 {
    padding-top:3rem;
  }

  .lg\:enc-pt-16 {
    padding-top:4rem;
  }

  .lg\:enc-pt-8 {
    padding-top:2rem;
  }

  .lg\:enc-pt-\[1\.5rem\] {
    padding-top:1.5rem;
  }

  .lg\:enc-pt-\[113px\] {
    padding-top:113px;
  }

  .lg\:enc-pt-\[50px\] {
    padding-top:50px;
  }

  .lg\:enc-pt-\[95px\] {
    padding-top:95px;
  }

  .lg\:enc-text-\[21px\] {
    font-size:21px;
  }

  .lg\:enc-text-\[24px\] {
    font-size:24px;
  }

  .lg\:enc-text-\[28px\] {
    font-size:28px;
  }

  .lg\:enc-text-\[32px\] {
    font-size:32px;
  }

  .lg\:enc-text-\[40px\] {
    font-size:40px;
  }

  .lg\:enc-text-\[44px\] {
    font-size:44px;
  }

  .lg\:enc-text-\[48px\] {
    font-size:48px;
  }

  .lg\:enc-text-lg\/\[140\%\] {
    font-size:1.125rem;
    line-height:140%;
  }

  .lg\:enc-font-bold {
    font-weight:700;
  }

  .lg\:enc-leading-\[32px\] {
    line-height:32px;
  }

  .lg\:enc-leading-\[40px\] {
    line-height:40px;
  }

  .lg\:enc-leading-\[48px\] {
    line-height:48px;
  }

  .lg\:enc-leading-\[52\.8px\] {
    line-height:52.8px;
  }

  .lg\:enc-tracking-\[-0\.48px\] {
    letter-spacing:-0.48px;
  }

  .lg\:enc-tracking-\[0\.44px\] {
    letter-spacing:0.44px;
  }

  .lg\:enc-text-\[rgba\(0\2c 0\2c 0\2c 0\.80\)\] {
    color:rgba(0,0,0,0.80);
  }
}

@media (min-width: 1280px) {
  .xl\:enc-block {
    display:block;
  }

  .xl\:enc-flex-shrink-0 {
    flex-shrink:0;
  }
}
